
html {
background-color: #FFFFFF
}

html *{
color: red
}

/* The grid: three equal columns that float next to each other */
.column {
    float: left;
    width: 100%;
    padding: 10px;
}
body > * {
    border: 1px solid black
}
.custom-icons > span {
    background-color: #f5f5f5;
    border-radius:  100px;
    padding: 35px;
    margin: 10px;
}

 